<!-- <div class="col-md-6">
												<label class="btn"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check">
													<input type="checkbox" id="item4" value="val1" class="" autocomplete="off">
												</label>
											</div>
											<div class="col-md-6">
												<label class="btn"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check">
													<input type="checkbox" id="item4" value="val2" class="" autocomplete="off">
												</label>
											</div>
											<div class="col-md-6">
												<label class="btn"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check">
													<input type="checkbox" id="item4" value="val3" class="" autocomplete="off">
												</label>
											</div>
											<div class="col-md-6">
												<label class="btn"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check">
													<input type="checkbox" id="item4" value="val4" class="" autocomplete="off">
												</label>
											</div> -->